{% extends 'layout.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.category_id) }}
        {{ form_widget(form.category_id, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.category_id) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.zip) }}
        {{ form_widget(form.zip, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.zip) }}
    </div>

    <input type="hidden" name="_token" value="{{ csrf_token('_csrf_token_id') }}" />
    <div class="form-group">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

